@import "settings.module";

/* bg color */
body,
.wrapper,
.app-overlay {
  background-color: $theme_bg_color;
}

.app-number .num,
.app-ticker-slider .title,
.app-ticker-slider .title a,
.app-counter .num,
.app-counter .num-after,
.app-history-item .subtitle,
.app-team-item .num {
  color: $theme_bg_color;
}

/*headings*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
h1.app-title-1,
h2.app-title-1,
h3.app-title-1,
h4.app-title-1,
h5.app-title-1,
h6.app-title-1,
.app-title-1,
h1.app-title-2,
h2.app-title-2,
h3.app-title-2,
h4.app-title-2,
h5.app-title-2,
h6.app-title-2,
.app-title-2,
h1.app-title-3,
h2.app-title-3,
h3.app-title-3,
h4.app-title-3,
h5.app-title-3,
h6.app-title-3,
.app-title-3 {
  color: $heading_color;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
h1.app-title-1,
h2.app-title-1,
h3.app-title-1,
h4.app-title-1,
h5.app-title-1,
h6.app-title-1,
.app-title-1,
h1.app-title-2,
h2.app-title-2,
h3.app-title-2,
h4.app-title-2,
h5.app-title-2,
h6.app-title-2,
.app-title-2,
h1.app-title-3,
h2.app-title-3,
h3.app-title-3,
h4.app-title-3,
h5.app-title-3,
h6.app-title-3,
.app-title-3 {
  font-family: $heading_font_family;
}

@media (min-width: 993px) {
  .h1, h1, h1.app-title-1, .app-title-1 {
    font-size: $heading_font_size;
  }
}

.h1, h1, h1.app-title-1, .app-title-1 {
  font-weight: $heading_font_weight;
}

@media (min-width: 993px) {
  .h1, h1, h1.app-title-1, .app-title-1 {
    letter-spacing: $heading_letter_spacing;
  }
}

.h1, h1, h1.app-title-1, .app-title-1 {
  text-transform: $heading_font_transform;
}

@media (min-width: 993px) {
  .h2, h2, h2.app-title-2, .app-title-2 {
    font-size: $heading2_font_size;
  }
}

.h2, h2, h2.app-title-2, .app-title-2 {
  font-weight: $heading2_font_weight;
}

@media (min-width: 993px) {
  .h2, h2, h2.app-title-2, .app-title-2 {
    letter-spacing: $heading2_letter_spacing;
  }
}

.h2, h2, h2.app-title-2, .app-title-2 {
  text-transform: $heading2_font_transform;
}

@media (min-width: 993px) {
  .h3, h3 {
    font-size: $heading3_font_size;
  }
}

.h3, h3 {
  font-weight: $heading3_font_weight;
}

@media (min-width: 993px) {
  .h3, h3 {
    letter-spacing: $heading3_letter_spacing;
  }
}

.h3, h3 {
  text-transform: $heading3_font_transform;
}

@media (min-width: 993px) {
  .h4, h4 {
    font-size: $heading4_font_size;
  }
}

.h4, h4 {
  font-weight: $heading4_font_weight;
}

@media (min-width: 993px) {
  .h4, h4 {
    letter-spacing: $heading4_letter_spacing;
  }
}

.h4, h4 {
  text-transform: $heading4_font_transform;
}

@media (min-width: 993px) {
  .h5, h5 {
    font-size: $heading5_font_size;
  }
}

.h5, h5 {
  font-weight: $heading5_font_weight;
}

@media (min-width: 993px) {
  .h5, h5 {
    letter-spacing: $heading5_letter_spacing;
  }
}

.h5, h5 {
  text-transform: $heading5_font_transform;
}

@media (min-width: 993px) {
  .h6, h6 {
    font-size: $heading6_font_size;
  }
}

.h6, h6 {
  font-weight: $heading6_font_weight;
}

@media (min-width: 993px) {
  .h6, h6 {
    letter-spacing: $heading6_letter_spacing;
  }
}

.h6, h6 {
  text-transform: $heading6_font_transform;
}

/* paragraphs */
html,
body {
  color: $text_color;
}

html,
body,
input,
textarea,
button,
label,
legend {
  font-family: $text_font_family;
}

html,
body,
input,
textarea,
button,
label,
legend {
  font-size: $text_font_size;
}

html,
body,
input,
textarea,
button,
label,
legend {
  font-weight: $text_font_weight;
}

html,
body,
label,
legend {
  line-height: $text_line_height;
}

html,
body,
input,
textarea,
button,
label,
legend {
  letter-spacing: $text_letter_spacing;
}

/* intro */
.app-intro .app-title-1,
.app-intro.intro--black .app-title-1,
.app-intro .app-title-1.app-text-white,
.app-intro.intro--black .app-title-1.app-text-white,
.app-intro .app-title-1.app-text-black,
.app-intro.intro--black .app-title-1.app-text-black {
  color: $intro_color;
}

.app-intro .app-subtitle-2,
.app-intro.intro--black .app-subtitle-2,
.app-intro .app-subtitle-2.app-text-white,
.app-intro.intro--black .app-subtitle-2.app-text-white,
.app-intro .app-subtitle-2.app-text-black,
.app-intro.intro--black .app-subtitle-2.app-text-black {
  color: $intro_subtitle_color;
}

.app-intro .app-breadcrums ul li,
.app-intro .app-breadcrums ul li a
.app-intro.intro--black .app-breadcrums ul li,
.app-intro.intro--black .app-breadcrums ul li a {
  color: $intro_bread_color;
}

/* theme color */
.block-quote::before,
blockquote::before,
.block-quote::before,
.wp-block-quote::before,
.wp-block-quote.is-large::before,
.wp-block-quote.is-style-large::before,
.wp-block-pullquote::before,
.app-hover-1::before,
.app-hover-2::before,
.app-hover-3::before,
.app-hover-btn > .arrow::after,
.app-hover-btn > i::after,
.app-hover-btn::after,
a.app-lnk.lnk--active::after,
span.app-lnk.lnk--active::after,
.app-lnk.lnk--active a::after,
.app-btn.btn--border.btn--color::after,
.app-btn.btn--active::before,
.app-btn .arrow::before,
.app-head-btn .arrow::before,
.app-btn.btn--border .arrow::after,
.app-btn.btn--border i::after,
.app-social-2 ul li a::before,
.app-social-active ul li a::before,
.app-stars,
.pager a:hover,
.page-links .post-page-numbers:hover,
.pager .current,
.page-links .current,
.preloader::before,
.preloader__double-bounce,
.app-menu-overlay,
.app-service-item .image,
.app-bubble .bubble-1,
.app-bubble .bubble-2,
.app-bubble .bubble-3,
.app-services-showcase .items .img-circle,
.app-filter.filter--default .app-filter-nav-active,
.app-showcase .img-circle,
.app-video .play::before,
.app-cta-social .cta-img-circle,
.app-blog-item .desc .date,
.wp-block-latest-posts__post-date,
.app-post-date .date,
.app-blog-slide-item .desc .date,
.app-pricing-item:hover a.app-btn.btn--color::after,
.app-pricing-item:hover .app-btn.btn--color::after,
.app-faq-item .app-collapse-btn::after,
.tags-links a,
.col-sidebar .tagcloud a,
.wp-block-tag-cloud a,
.sidebar__tag-item,
.app-post-tags a {
  background-color: $theme_color;
}

.app-team-item:hover .num,
.app-cta-info .email,
.app-cta-info .email a,
.wp-block-calendar a {
  color: $theme_color;
}

.app-social-2 ul li a:hover,
.app-social-active ul li a:hover,
.pager a:hover,
.page-links .post-page-numbers:hover {
  border-color: $theme_color;
}

@media (max-width: 1024px) {
  .app-filter.filter--default ul li button.item--active,
  .comment .comment-item__reply a:hover,
  .comment .comment-item__reply a:focus,
  .comment .comment-item__reply a:hover::before,
  .comment .comment-item__reply a:focus::before {
    background: $theme_color;
  }
}

/* buttons */
.app-hover-btn::before,
.app-btn .arrow::after,
button[type="submit"],
input[type="submit"] {
  background-color: $btn_color;
}

.app-hover-btn::after,
button[type="submit"]:hover,
input[type="submit"]:hover,
.app-btn.btn--border.btn--color::after,
.app-btn.btn--active::before,
.app-btn .arrow::before,
.app-head-btn .arrow::before,
.app-btn.btn--border .arrow::after,
.app-btn.btn--border i::after,
.app-pricing-item:hover a.app-btn.btn--color::after,
.app-pricing-item:hover .app-btn.btn--color::after {
  background-color: $btn_hover_color;
}

button[type="submit"].app-btn:hover {
  background-color: transparent;
}

a.app-btn,
.app-btn,
.app-head-btn,
button[type="submit"],
input[type="submit"],
body div.wpforms-container .wpforms-form .app-btn,
body div.wpforms-container .wpforms-form button.app-btn,
body div.wpforms-container .wpforms-form button.app-btn[type="submit"] {
  font-family: $btn_font_family;
}

a.app-btn,
.app-btn,
button[type="submit"],
input[type="submit"],
body div.wpforms-container .wpforms-form .app-btn,
body div.wpforms-container .wpforms-form button.app-btn,
body div.wpforms-container .wpforms-form button.app-btn[type="submit"] {
  font-size: $btn_font_size;
}

a.app-btn,
.app-btn,
button[type="submit"],
input[type="submit"],
body div.wpforms-container .wpforms-form .app-btn,
body div.wpforms-container .wpforms-form button.app-btn,
body div.wpforms-container .wpforms-form button.app-btn[type="submit"] {
  font-weight: $btn_font_weight;
}

a.app-btn,
.app-btn,
button[type="submit"],
input[type="submit"],
body div.wpforms-container .wpforms-form .app-btn,
body div.wpforms-container .wpforms-form button.app-btn,
body div.wpforms-container .wpforms-form button.app-btn[type="submit"] {
  letter-spacing: $btn_letter_spacing;
}

a.app-btn,
.app-btn,
button[type="submit"],
input[type="submit"],
body div.wpforms-container .wpforms-form .app-btn,
body div.wpforms-container .wpforms-form button.app-btn,
body div.wpforms-container .wpforms-form button.app-btn[type="submit"] {
  text-transform: $btn_font_transform;
}

a.app-btn,
.app-btn,
button[type="submit"],
input[type="submit"],
body div.wpforms-container .wpforms-form .app-btn,
body div.wpforms-container .wpforms-form button.app-btn,
body div.wpforms-container .wpforms-form button.app-btn[type="submit"],
.app-hover-btn::before {
  border-radius: $btn_border_radius;
}

/* Preloader BG Color */
.preloader::after {
  background-color: $preloader_bg_color;
}

/* Preloader Color */
.preloader__double-bounce {
  background-color: $preloader_color;
}

/* --options end */
