/* ---
	Settings Begin
---*/

/* --Fonts Family */
$text_font_family: "Raleway"; /* - paragraphs font */
$heading_font_family: "Raleway"; /* - headings font */
$btn_font_family: "Raleway"; /* - buttons font */

/* --Template Colors */
$theme_bg_color: #ffffff; /* - background color */
$theme_color: #f2f2f2; /* - accent color */
$text_color: #111111; /* - paragraphs color */
$hover_color: #868686; /* - hover color */
$heading_color: #333333; /* - headings color */
$btn_color: #333333; /* - buttons bg color */
$btn_hover_color: #cccccc; /* - buttons bg color on Hover */
$intro_color: #ffffff; /* - intro heading color */
$intro_subtitle_color: #ffffff; /* - intro description color */
$intro_bread_color: #ffffff; /* - intro breadcrumbs color */
$border_color: #eef0ef;

/* --Heading h1 */
$heading_font_size: 70px; /* - font size */
$heading_font_weight: 600; /* - font weight */
$heading_letter_spacing: 0px; /* - letter spacing */
$heading_font_transform: unset; /* - font transform */

/* --Heading h2 */
$heading2_font_size: 60px; /* - font size */
$heading2_font_weight: 600; /* - font weight */
$heading2_letter_spacing: 0px; /* - letter spacing */
$heading2_font_transform: unset; /* - font transform */

/* --Heading h3 */
$heading3_font_size: 40px; /* - font size */
$heading3_font_weight: 600; /* - font weight */
$heading3_letter_spacing: 0px; /* - letter spacing */
$heading3_font_transform: unset; /* - font transform */

/* --Heading h4 */
$heading4_font_size: 16px; /* - font size */
$heading4_font_weight: 600; /* - font weight */
$heading4_letter_spacing: .025em; /* - letter spacing */
$heading4_font_transform: uppercase; /* - font transform */

/* --Heading h5 */
$heading5_font_size: 18px; /* - font size */
$heading5_font_weight: 600; /* - font weight */
$heading5_letter_spacing: 0px; /* - letter spacing */
$heading5_font_transform: unset; /* - font transform */

/* --Heading h6 */
$heading6_font_size: 18px; /* - font size */
$heading6_font_weight: 600; /* - font weight */
$heading6_letter_spacing: 0px; /* - letter spacing */
$heading6_font_transform: unset; /* - font transform */

/* --Paragraphs */
$text_font_size: 14px; /* - font size */
$text_font_weight: 400; /* - font weight */
$text_line_height: 1.7; /* - line height */
$text_letter_spacing: 0px; /* - letter spacing */

/* --Buttons */
$btn_font_size: 12px; /* - font size */
$btn_font_weight: 600; /* - font weight */
$btn_letter_spacing: 0px; /* - letter spacing */
$btn_font_transform: uppercase; /* - text transform */
$btn_border_radius: 34px; /* - border radius */

/* --Preloader */
$preloader_bg_color: #FAFAFA; /* - prelaoder background color */
$preloader_color: #FFFFFF; /* - preloader figure color */

/* ---
	Settings End
---*/
